if has runonce; then
    DIR=`basename $(pwd)`

    # install any missing requirements
    if [ -d .venv ]; then
        if [ -f requirements.txt ]; then
            rononce -b -n $DIR uv pip install -r requirements.txt
        fi

        if [ -f requirements-dev.txt ]; then
            rononce -b -n $DIR uv pip install -r requirements-dev.txt
        fi
    fi

    if [ -f .pre-commit-config.yaml ]; then
       if has pre-commit; then
          # auto-update pre-commit versions (if >= 1 week)
          runonce -b -n $DIR -d 7 pre-commit autoupdate
       fi
    fi
fi
